body{
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
main img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}