header div {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 2%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.socialmedia {
  display: flex;
  gap: 20px;
  font-size: xx-large;
}
.socialmedia a {
  color: black;
  text-decoration: none;
}
.facebook:hover {
  color: #3b5998;
}
.instagram:hover {
  color: #e4405f;
}
.youtube:hover {
  color: #ff0000;
}