main{
    display: flex;
 text-align: center;
 align-items: center;
 justify-self: center;
 flex-direction: column;
width: 100%;
height: 50%;
}
.signin{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    background-color: antiquewhite;
    width: 70%;
    height: 40%;
}
.signin div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 100%;
}
.signin input{
    width: 30%;
    height: 40%;
}