header{
    height: 30%;
}
main{
    display: flex;
 text-align: center;
 align-items: center;
 justify-self: center;
 flex-direction: column;
width: 100%;
height: 70%;
}
.signin{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:80%;
    padding: 20px;
    gap: 30px;
    background-color: snow;
    color: #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.8s ease;
}
aside{
    flex: 1; /* يخليها تاخذ أكبر مساحة ممكنة */
    max-width: 500px;
    height:65% ;
    background-color: white;
    color: #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}
.form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.container{
        justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    width: 300px;
}
.container input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #0058b7;
    border-radius: 5px;
}
.container label{
    position: absolute;
    left: 30px;
    top: 10px;
    background: #fff;
    padding: 0px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.container input:focus + label,
.container input:not(:placeholder-shown) + label{
    transform: translateY(-25px);
    color: #0058b7;
}
.container input:focus{
    border-color: #0058b7;
}
.signin.show {
    transform: translateX(0);
    opacity: 1;
}

.signin h2{
    font-size: 40px;
    color: #0058b7;
}
button {
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    width:150px ;
    color: #0058b7;
    background: white;
    border:2px solid #0058b7;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
button:hover{
    color: white;
}

button::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 390px;
    background: #0058b7;
    top: 100%;
    left: 100%;
    transition: all 0.5s ease;
    border-radius: 95%;
    z-index: -1;

}
button:hover::before {
    top: -60px;
    left: -60px;

}
button:active::before {
    background: #0058b7;
    transition: background 0s;
}
.signup-btn {
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    height: fit-content;
}
.signup-btn:hover {
    color: white;
}