html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
header {
    background-color: #0058b7;
    color: white;
    width: 100%;
    height: 40%;
    text-align: center;
}
nav,a {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    color: white;
}
header a {
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}
header a:hover {
    color: #92abc3;
    font-size: 26px;
}
footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 20px 0;
}
.footergroup {
    display: flex;
    gap: 20px;
}
footer a {
    color: #878181;
    text-decoration: none;
    font-size: 18px;
}
footer a:hover {
    color: black;
    font-size: 19px;
}