
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    background-color: white;
    color: black;
    width: 100%;
    height: auto;
    text-align: center;
}
nav,a {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    color: black;
}
header a {
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}
header a:hover {
    color: #92abc3;
    font-size: 26px;
}
main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    border-radius:50% ;
    width: 250px;
    height: 500px;
    background-color: white;
    border: whitesmoke double 2px;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section button {
    background-color: #0058b7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 90px;
    block-size: 60px;
    inline-size: 200px;
    transition: box-shadow 0.5s ease, transform 0.3s ease;
}
section button:hover {
    background-color: #003063;
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3)
}
aside {
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: white;
  
}

footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 20px 0;
}
.footergroup {
    display: flex;
    gap: 20px;
}
footer a {
    color: #878181;
    text-decoration: none;
    font-size: 18px;
}
footer a:hover {
    color: black;
    font-size: 19px;
}
