 table ,th , td {
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 25px;
}
table {
    width: 100%;
    margin: 20px auto;
}
th {
    background-color: #69a1f0;
    color: white;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.user1 {
    text-align: center;
    margin: 0 20px;
}
.user1 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user1 p {
    margin-top: 10px;
    font-weight: bold;
}