main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.search-box{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
}
.search-box i{
    color: black;
    font-size: 20px;
    margin-right: 20px;
}
.search-box input{
    width: 80%;
    height: 40%;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 18px;
    height: 70px;
    cursor: pointer;
}
